[settings]
columns = artist,title,~filename
	
default_rating = 0.5
scan = /home/{{ .chezmoi.username }}/Music

[memory]
browser = SearchBar
chooser_dir = /home/{{ .chezmoi.username }}/Music
column_expands = artist,1,title,1,~filename,1
	
column_widths = artist,-1,title,-1,~filename,-1
	
open_browsers = 
plugin_prefs_maximized = 4
plugin_prefs_position = 504 42
plugin_prefs_size_ = 989 925
plugin_selection = Advanced Preferences
prefs_page = tagging
queue = True
queue_disable = False
queue_expanded = True
queue_position = 0.6002430133657352
quodlibet_last_active_version = 4.6.0
quodlibet_maximized = 0
quodlibet_position = 960 17
quodlibet_properties_maximized = 0
quodlibet_properties_pos = 0.4003215434083601
quodlibet_properties_position = 299 158
quodlibet_properties_size_single = 622 448
quodlibet_size_ = 950 1029
repeat = True
repeat_mode = one_song
seek = 0
sidebar_pos = 0.2505263157894737
song = 
sortby = 0~#track
	
volume = 1.0

[player]
gst_buffer = 3.0
is_playing = False
replaygain_mode = auto

[browsers]
pane_mode = 1
pane_selection = 0
panedbrowser_pane_widths = 0.49753086419753084
	
panedbrowser_pos = 0.40421052631578946
playlistsbrowser_pos = 0.4
query_text = 

[library]
watch = true

[display]
duration_format = text-full

[__config__]
version = 0

[plugins]
active_plugins = Tray Icon
	Convert Encodings
	refresh-songs
	AcoustidSearch
	mpris
	Theme Switcher
	WaveformSeekBar
	filterbrowser
	Notify
	Duplicates
animosd_monitor = 0
cover_engine_discogs = True
icon_tooltip = <album|<album~discnumber~part~tracknumber~title~version>|<artist~title~version>>
notify_bodypattern = <~length>
	<album|<album><discsubtitle| - <discsubtitle>>
	><~year|<~year>>
notify_show_notifications = all
notify_show_only_when_unfocused = False
quodlibet.fake.plugins.visualisations_executable = projectM-pulseaudio
scrobbler_service = Last.fm
shufflebygrouping_grouping = ~grouping~album~albumartist
shufflebygrouping_grouping_filter = grouping
squeezebox_debug = False
theme switcher_prefer_dark = true
theme switcher_theme = Adwaita

[rename]
windows = true

[editing]
auto_save_changes = false
save_to_songs = false

