Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=true
Color_In=rgb(26,95,180)
Color_Out=rgb(198,70,0)
Text=Net
{{ if eq .chezmoi.hostname "kanka" -}}
Network_Device={{- .kanka.wifi_dev -}}
{{ end }}
{{ if eq .chezmoi.hostname "jupiter" -}}
Network_Device={{- .jupiter.wifi_dev -}}
{{ end -}}
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=3000
Values_As_Bits=false
Digits=0

