file:///home/{{ .chezmoi.username }}/Documents
file:///home/{{ .chezmoi.username }}/Downloads
file:///home/{{ .chezmoi.username }}/Music
file:///home/{{ .chezmoi.username }}/Pictures
file:///home/{{ .chezmoi.username }}/Projects
file:///home/{{ .chezmoi.username }}/Sync
file:///home/{{ .chezmoi.username }}/Videos
file:///home/{{ .chezmoi.username }}/.local/mnt
file:///tmp tmp
