[Unit]
Description=SSH Socket
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=simple
Restart=always
RestartSec=10
Environment="SSH_AUTH_SOCK=%t/ssh-agent.socket"
EnvironmentFile=%h/.config/environment.d/sshkt_host.conf
ExecStart=/usr/bin/bash -c 'while true; do ssh -D 127.0.0.1:$SSHKT_PORT $SSHKT_HOST ping -i 5 8.8.8.8; done'

[Install]
WantedBy=default.target