[Unit]
Description=V2Ray Service
Documentation=https://www.v2fly.org/
After=network.target nss-lookup.target

[Service]
EnvironmentFile=%h/.config/environment.d/v2ray.conf
ExecStart=%h/.local/bin/v2ray run -config %h/.config/v2ray/config.json $URI
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=default.target
